<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Devoir du jour</div>
            <div class="item item-body">
                <div>
                    <b>Afficher ICI le devoir du jour</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Choix du groupe &agrave; noter</div>
            <div class="item item-body">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Choix du groupe
                    </div>
                    <select>
                        <option>Groupe 1</option>
                        <option>Groupe 2</option>
                        <option>Groupe 3</option>
                    </select>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
